<div class='row'>
  <form class='form-horizontal col-xs-12'>
    <div class='form-group col-xs-12'>
      {{textarea class="form-control"
      type="text"
      value=lieDescription
      placeholder="Describe your \"lie\" here."}}
      <button
        class="btn btn-primary"
        {{action "submitLie"}}>
        Submit!
      </button>
    </div>
  </form>
</div>
{{yield}}
