<header>
  <div class='row'>
    <div class='col-lg-12'>
      <h1 class='text-center'>{{model.title}}</h1>
    </div>
  </div>
</header>
{{outlet}}
<footer>
  <div class='row'>
    <div class='col-lg-12'>
      <p class='text-center'>Jen Trudell {{model.year}}</p>
    </div>
  </div>
</footer>
