<header>
  <div class='jumbotron'>
    <h1 class='text-center'>{{model.title}}</h1>
    <h4 class='text-center'>{{model.subtitle}}</h4>
  </div>
</header>
{{outlet}}
<footer>
  <div class='row'>
    <div class='col-lg-12'>
      <h5 class='text-center'>Jen Trudell &copy;{{model.year}}</h5>
    </div>
  </div>
</footer>
